:root {
    --columnSelection: 20;
}

html,
body {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    font-family: 'Bangers';
}

h1 {
    margin: 0;
    padding: 0.5em;
    font-size: 50px;
}

.game-container {
    display: flex;
    gap:3em;
    flex-direction: column-reverse;
}

.options {
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em
}

.slider-column {
    font-size: 20px;
    font-weight: 100;
    padding: 0.5em;
    text-align: center;
}

.all-buttons {
    display: flex;
    flex-direction: column;
}

.buttons-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

button {
    padding: 5px;
    border-radius: 5px;
}
#grayscale {
    background-color: grey;
    background-image: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,1));
}
#black {
    color: white;
    background: black;
}
#rainbow {
    background-image: url(294124-P76J26-330.jpg);
    background-position: center;
    color: black;
    text-shadow: 3px 1px 3px white;
    font-weight: bolder;
}

.button-clean {
    margin-top: 1em;
}

#clean {
    width: 100%;
}

#grid-container {
    height: 50vh;
    aspect-ratio: 1;
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(var(--columnSelection), 1fr);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.box {
    border: solid 1px grey;
}

.box:hover {
    box-shadow: 3px 3px gray inset;
}

@media (min-width: 940px) {
    .game-container {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 70%;
        gap: 10em;
    }

    .buttons-options {
        flex-direction: column;
    }
    .all-buttons { 
        flex-direction: column;
    }
    button {
        padding: 5px;
        width: 250px;
    }
}

@media (min-width: 650px) {
    h1 {
        font-size: 100px;
    }

    button {
        padding: 5px;
    }

}

.footer-credits {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    text-align: center;
}